<div class="modal-header pb-1">
  <h4 class="modal-title" id="modal-basic-title">{{labels.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-0">

  <streetmap [lon]="longitude" [lat]="latitude" [placeholder]="labels.placeholder" [lng]="lng" (onAddress)="setAddress($event)"></streetmap>
  <div>{{oladdress.display_name}}</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">{{labels.close}}</button>
  <button type="button" class="btn btn-primary" (click)="saveAddress()">{{labels.saveall}}</button>
</div>