<pgtitle [title]="labels.title" [iclass]="'fa fa-fw fa-address-card'" [oid]="oid" [brwFieldName]="'fullsearch'">
  <div class="btn-group col-sm-3 px-0">
    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="text" #search class="form-control px-1 text-primary" placeholder="{{labels.search}}">
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" appdropdown type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="selectPanelType('btnClients')">
      <i class="fa fa-address-card"></i>&nbsp;{{labels.btnClients}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0)" (click)="selectPanelType('btnClients')"><i class="fa fa-address-card"></i>&nbsp;{{labels.btnClients}}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="showDetail('')" [class.disabled]="!access.adm"><i
          class="fa fa-plus"></i>&nbsp;{{labels.btnadd}}</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" appdropdown type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="selectPanelType('btnUsers')">
      <i class="fa fa-user"></i>&nbsp;{{labels.btnUsers}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0)" (click)="selectPanelType('btnUsers')"><i class="fa fa-user"></i>&nbsp;{{labels.btnUsers}}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="addUserAddress()" [class.disabled]="!access.adm"><i
          class="fa fa-link"></i>&nbsp;{{labels.btnadd}}</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" appdropdown type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="selectPanelType('btnAddresses')">
      <i class="fa fa-envelope"></i>&nbsp;{{labels.btnAddresses}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0)" (click)="selectPanelType('btnAddresses')"><i class="fa fa-envelope"></i>&nbsp;{{labels.btnAddresses}}</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="addClientAddress('')" [class.disabled]="!access.adm"><i
          class="fa fa-link"></i>&nbsp;{{labels.btnadd}}</a>
    </div>
  </div>

</pgtitle>

<pgpanel [lmargins]="20">
  <pgview [width]="panelWidth.left" [lmargin]="0">
    <brw [uuid]="uuid" [oid]="oid" [service]="service" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)"
      (rowChanged)="rowChanged($event)">
      <brwcol [name]="'name'" [header]="labels.name" [width]="30"></brwcol>
      <brwcol [name]="'code'" [header]="labels.code" [width]="5"></brwcol>
      <brwcol [name]="'ico'" [header]="labels.ico" [width]="10"></brwcol>
      <brwcol [name]="'icdph'" [header]="labels.icdph" [width]="10" [visible]="panelType=='btnClients'"></brwcol>
      <brwcol [name]="'dic'" [header]="labels.dic" [width]="10" [visible]="panelType=='btnClients'"></brwcol>
      <brwcol [name]="'phone'" [header]="labels.phone" [width]="10" [visible]="panelType=='btnClients'"></brwcol>
      <brwcol [name]="'email'" [header]="labels.email" [width]="15" [visible]="panelType=='btnClients'"></brwcol>
      <brwcol [name]="'id'" [width]="'28px'" [cls]="'p-0 float-right'" [visible]="access.adm">
        <ng-template #dataTableCell let-item="row">
          <button type="button" class="btn btn-primary btn-sm" (click)="showDetail(item.id)">
            <span [class]="'fa fa-pencil'"></span>
          </button>
        </ng-template>
      </brwcol>
    </brw>
  </pgview>

  <pgview [width]="panelWidth.right">
    <userscli *ngIf="panelType=='btnUsers'" [poid]="oid" [parentId]="parentId"></userscli>
    <adressescli *ngIf="panelType=='btnAddresses'" [poid]="oid" [parentId]="parentId"></adressescli>
  </pgview>
</pgpanel>