<div class="modal-header pb-1">
  <h4 class="modal-title">{{labels.dtitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0 pb-0">

  <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">

    <div class="border border-primary rounded px-2">
      <h6 class="text-primary">{{labels.exasubtitle}}</h6>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="name">{{labels.name}}</label>
          <input focus type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"
            name="name" />
          <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">{{labels.errrequired}}</div>
            <div *ngIf="f.name.errors.maxlength">{{labels.errmaxlen}}</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-11">
          <label for="address">{{labels.address}}</label>
          <input type="text" readonly formControlName="address" class="form-control" name="address" />
        </div>
        <div class="form-group col-1 align-self-end mb-4">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="chooseAddress(item)">
            <span [class]="'fa fa-envelope'"></span>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-3">
          <label for="zip">{{labels.zip}}</label>
          <input type="text" readonly name="zip" formControlName="zip" class="form-control" />
        </div>
        <div class="form-group col-9">
          <label for="city">{{labels.city}}</label>
          <input type="text" readonly name="city" formControlName="city" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="state">{{labels.state}}</label>
          <input type="text" readonly name="state" formControlName="state" class="form-control" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">{{labels.btnclose}}</button>
  <button [disabled]="!recid" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="alertDlg()">{{labels.btndelete}}</button>
  <button [disabled]="detailForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">{{labels.btnsave}}</button>
</div>

<pgalert [dlgid]="'deletealertdlg'" [dlgRef]="deleteAlert" [title]="labels.delFlyOfficeTitle" [type]="'YES-NO'" (doClick)="doDelete($event)">
  <p>{{labels.delFlyOfficeQuestion}}</p>
</pgalert>